@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 transition-colors duration-200;
  }

  html.dark body {
    @apply bg-gray-900 text-gray-100;
  }
}

@keyframes rainbow-move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.bg-aurora-flag {
  background: linear-gradient(-45deg,
      #FF0018, #FFA52C, #FFFF41, #008018, #0000F9, #86007D);
  background-size: 400% 400%;
  animation: rainbow-move 15s ease infinite;
}